################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/honours-repo/FileContentIndex/43d73ad9-d0c3-4aa2-9fcc-bffc426b4edf.vsidx
